@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #191d28;
  color: #ffffff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.timer-wrapper {
  display: flex;
  justify-content: center;
  color: #3dc6c1;
  font-family: 'Oswald', sans-serif;
}

.timer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.telegram-btn {
  background-color: #3dc6c1;
}

.logo {
  color: #3dc6c1;
}
.outer-table {
  overflow-x: auto;
}
table {
  width: 100%;
}
th {
  padding-bottom: 10px;
  min-width: 100%;
  font-family: 'Oswald', sans-serif;
}
td {
  text-align: center;
  background-color: #2e3241;
  border-bottom: 10px solid #191d28;
  min-width: 100%;
  font-family: 'Oswald', sans-serif;
}
